APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

RAZORPAY_KEY="test"

KEY_AADHAR_DOCUMENT=AADHAR_DOCUMENT
KEY_GST_DOCUMENT=GST_DOCUMENT
KEY_BANK_DOCUMENT=BANK_DOCUMENT
KEY_ADDRESS_DOCUMENT=ADDRESS_DOCUMENT
KEY_COMMODITY=COMMODITY_DOCUMENT
KEY_NEWS=NEWS_DOCUMENT
KEY_MARKETING=MARKETING_DOCUMENT
KEY_TRADE_DOCUMENT=TRADE_DOCUMENT
KEY_PROFILE_IMAGE=PROFILE_IMAGE

WEATHER_API_URL=http://openweathermap.org/img/w/
WEATHER_API_KEY=6f1dc805a85c3a293f853bab58d8dbf6

MARKET_PRICE_API_KEY=579b464db66ec23bdd00000199f456ec95b44e2452ad65097077ecea
